@font-face {
	font-family: historietasmx;
	src: url(comix.ttf);
}

@font-face {
	font-family: historietamx;
	src: url(comic.otf);
}

.comix	{
	font-family: historietasmx;
}


.comic	{
	font-family: historietamx;
}

 .comic_btn	{
 	background-color: transparent;
 	border-color: #000;
 	font-size: 20px;
 }
