.catalogo{
	background-color: rgba(42,38,38,1);
	border-radius: 4px;
	color: white;
	padding: 0.5% 1%;
}

.imgCatalogo{
	max-height: 100px;
	width: 75%;
}

.edit-cat{
	font-weight: bold;
	text-align:center
}
.edicion-catalogo{
	display: none;
}

.miniNota{
	font-weight: bold;
	font-size: 80%;
	color: red;
}

.back-miniRevista{
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}